.proyectos__container {
  max-width: 700px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 40px 20px;
  position: relative;
  overflow: visible;
}

.proyectos__container::before {
  content: "";
  width: 300px;
  height: 300px;
  position: absolute;
  top: 200px;
  right: -100px;
  transform: translate(-50%, -50%);
  z-index: -1;
  background: #fd3333a1;
  filter: blur(100px);
  pointer-events: none;
}

.proyectos__container::after {
  content: "";
  width: 300px;
  height: 300px;
  position: absolute;
  bottom: -100px;
  left: 100px;
  transform: translate(-50%, -50%);
  z-index: -1;
  background: #33fdbaa1;
  filter: blur(100px);
  pointer-events: none;
}

.proyecto__card {
  width: 100%;
  border-radius: 12px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: rgb(0, 0, 0, 0.5);
}

.card__about {
  width: 100%;
  display: flex;
  gap: 20px;
}

.card__about img {
  width: 300px;
  border-radius: 10px;
}

.card__inf {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer__card {
  display: flex;
}

.container__skills {
  width: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.skills {
  display: flex;
  gap: 10px;
  padding: 10px;
  border-radius: 10px;
}

.card__buttons {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.card__buttons a {
  width: 50%;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  background: rgb(255, 255, 255, 0.05);
  border: 1px solid transparent;
  transition: all 0.3s ease;
}

.card__buttons a:hover {
  border: 1px solid rgb(255, 255, 255);
  transform: translateY(-2px);
  background: transparent;
}

@media screen and (max-width: 580px) {
  .card__about img {
    width: 100%;
    border-radius: 10px;
  }
  .card__about {
    flex-direction: column;
  }
  .footer__card {
    flex-direction: column-reverse;
  }

  .container__skills {
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .card__buttons {
    width: 100%;
  }
}
