.container {
  max-width: 700px;
  display: flex;
  flex-direction: column;
  align-items: start;
  position: relative;
}

.main__container {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 30px;

  margin-top: 20px;
  border: 1px solid transparent;
}
.message {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 20px;
}

@media screen and (max-width: 1200px) {
  .main__container img {
    position: static;
    transform: none;
  }

  .main__container {
    flex-direction: column-reverse;
  }
}
