:root {
  --bg-principal: #0b0b0b;
  --bg-secundary: #33fd6ff2;
  --font-title: "Raleway", sans-serif;
  --font-body: "Roboto", sans-serif;
  --color-text: #fff;
  --highlight: var(--bg-secundary);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  font-size: 16px;
  font-family: var(--font-body);
  font-weight: 400;
}

h1 {
  font-size: 36px;
  font-weight: 700;
  font-family: var(--font-title);
}

h2 {
  font-size: 28px;
  font-weight: 600;
  font-family: var(--font-title);
}

h3 {
  font-size: 22px;
  font-weight: 500;
  font-family: var(--font-title);
}

body {
  background: var(--bg-principal);
  color: var(--color-text);
  max-width: 900px;
  margin: auto;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
  padding: 30px;
}

a {
  text-decoration: none;
  color: var(--color-text);
  font-family: var(--font-body);
  font-size: 16px;
}

li {
  list-style: none;
}

.alert {
  display: none;
  position: fixed;
  background: rgba(0, 0, 0, 0.607);
  bottom: 0;
  left: 0;
  padding: 10px;
  z-index: 1000;
  width: 100%;
  display: flex;
  justify-content: center;
}
