:root {
  --bg-principal: #2b3948;
  --bg-secundary: #33fd6ff2;
  --titles: "Space Grotesk", sans-serif;
  --text: "#fff";
  --highlight: var(--bg-secundary);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  font-size: 20px;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

body {
  background: var(--bg-principal);
  font-family: var(--titles);
  color: white;
  max-width: 900px;
  margin: auto;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
  padding: 30px;
}

a {
  text-decoration: none;
  color: white;
}

li {
  list-style: none;
}
